{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": [0, "never"],
    "comma-dangle": [2, "always-multiline"],
    "global-require": 0,
    "func-names": 0,
    "prefer-const": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "max-len": 0,
    "no-unused-expressions": [0, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-console": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "space-before-function-paren": [2, "always"],
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-tag-location": 0,
    "react/sort-comp": 0,
    "react/jsx-no-bind": 0,
    "react/no-danger": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "node"
    }
}
