body {
  height: 100%;
  overflow-y: hidden;
  background-color: #f8f8f8;
}
// scrollbar

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #b4babf;
  border-radius: 7px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  width: 15px;
}

::-webkit-scrollbar:hover {
  background-color: transparent;
}

:global .ant-breadcrumb {
  & > span {
    &:last-child {
      color: #999;
      font-weight: normal;
    }
  }
}

:global .ant-breadcrumb-link {
  .anticon + span {
    margin-left: 4px;
  }
}
