/** 
 * Customize Ant Design theme, Ant design less variables could be found in:
 * https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */
@import '../../node_modules/antd/lib/style/themes/default.less';

@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@font-size-base: 13px;
@text-color: #666;
@hover-color: #f9f9fc;
