.numberCard{
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.05);
  display: flex;
  padding: 32px;
  font-family: monospace;
  .iconWarp{
    font-size: 54px;
  }
  .content{
    width: 100%;
    padding-left: 24px;
    .title{
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
    }
    .number{
      line-height: 32px;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
