.numberCard{
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.01);
  padding: 32px;
  font-family: monospace;
  background-color: #fff;
  margin-bottom: 24px;
  .iconWarp{
    font-size: 54px;
    float: left;
  }
  .content{
    width: 100%;
    padding-left: 78px;
    .title{
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
      height: 16px;
      .text-overflow();
    }
    .number{
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      .text-overflow();
    }
  }
}

.text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
